<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<nav>
    Navigation
    <a href="#section-one">Section One</a>
    <a href="#section-two">Section Two</a>
</nav>
<header>
    <img src="static/image/wolfin_3.jpg" alt="Scary Tiny Wolf Fangs" style="width: 100px; height: 100px" id="header-left-img">
    <em>Beware Of The Evil Wolfin!</em>
    <img src="static/image/wolfin_3.jpg" alt="Scary Tiny Wolf Fangs" style="width: 100px; height: 100px" id="header-right-img">
</header>
<footer>
    2015 &&copy;
</footer>

</body>
</html>