{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}
<h1>{{ dancer.name }}</h1>

{% if dancer.active_member %}
    {{ dancer.name }} is looking for a buddy!
{% else %}
    {{ dancer.name }} is not currently looking for a buddy.
{% endif %}

<div class="bio">
    {{ dancer.bio }}
</div>
<div class="contact">
    {{ dancer.email }}
</div>

<h2>{{ dancer.name }}'s Dances</h2>

<div class="prefs">
{% for dance_pref in dance_prefs %}
    <h3>{{ dance_pref.dance }}</h3>
    <ul>
        <li>Status: {{ dance_pref.activity }}</li>
        {%  if dance_pref.lead %}
            <li>Leader: {{ dance_pref.lead_level }}</li>
        {% endif %}
        {% if dance_pref.follow %}
            <li>Follower: {{ dance_pref.follow_level }}</li>
        {% endif %}
        <li>Goal: {{ dance_pref.goals }}</li>
        {% if dance_pref.notes != '' %}
            <li>Notes: {{ dance_pref.notes }}</li>
        {% endif %}
    </ul>
{% empty %}
    No dances available.
{% endfor %}

<a href="/edit/{{ dancer.id }}">Edit Profile

</div>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% endblock %}
