body {
    background-image: url("../image/seabeck.jpg");
    background-size:  100% auto;
    font-family: sans-serif;
}

div {

    background-color: rgba(236, 231, 228, 0.6);
    color: #303457;
    box-shadow: .1em .1em .1em #2C2724;
    padding: 2em 2em 1em 2em;
    border-width: 1em;
    border-color: #303457;

    text-align: center;

    border: 3px outset #303457;

    height: auto;
    width: 30em;

    left-margin: auto;
    right-margin: auto;

    margin: 5em auto auto auto;
}