{% extends "base_generic.html" %}
{% load staticfiles %}
{% block content %}
<script>
    function saveQuestion() {
        var input = document.getElementById("question_text");
        var text = input.value;
        var fd = new FormData();
        fd.append("text", text);
        request = new XMLHttpRequest();
        url = "/polls/api_save_question/";
        request.onloadend = function () {
            alert("saved as id: " + this.responseText)
        };
        request.open("post", url);
        request.send(fd);
    }
</script>
<div>
    <label>
        Question Text:
        <input id="question_text">
    </label>
    <button onclick="saveQuestion()">
        SAVE
    </button>
</div>
<script>


    document.write("test");

    // Draw Loaded Data
    function draw(data) {
        console.log(data);
        var div = document.createElement("div");
        for (var i = 0; i < data.length; i++) {
            var h1 = document.createElement("h1");
            var item = data[i];
            var text = item.text;
            h1.innerHTML = text;
            div.appendChild(h1);
        }
        document.body.appendChild(div);
    }

    // BEGIN WEB REST API CALL TO GET JSON DATA
    var url = "/polls/api_questions/";
    var request = new XMLHttpRequest();
    request.open("GET", url);

    //For pre html5 browsers use onstatuschanged
    request.onloadend = function (e) {
        var json_string = e.currentTarget.responseText;
        var data = JSON.parse(json_string);
        draw(data);
    };

    request.send();

</script>


{% endblock %}