{% extends "base_generic.html" %}
{% load staticfiles %}

{% block content %}

{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li>
            {{ question.question_text }}
            &nbsp;
            <a href="/polls/{{ question.id }}/">
                vote
            </a>
            &nbsp;
            <a href="/polls/edit/{{ question.id }}/">
                edit
            </a>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

&copy; 2015

{% endblock %}
