
{% extends "glass_base_generic.html" %}





{% block content %}



  <form method="post">
    {% csrf_token %}

    <h3>
      Title:
      </h3>
    <input type="text" name="title_text" value="{{ blog.title_text }}"></input>
    <br>
    <h3>
      Name:
      </h3>
    <input type="text" name="name_text" value="{{ blog.name_text }}" id="name"></input>
    <br>
    <h3>
      Blog Post:
    </h3>
    <textarea name="blog_text" id="blog">{{ blog.blog_text }}</textarea>
    <br>
    <input type="submit" value="Save" id="sub"> </input>
  </form>


{% endblock %}
