{% extends "glass_base_generic.html" %}

{% block header %}
<a href="/create2/1/">
  <img src="/static/new_app/images/post_icon.png" id="icon">
</a>
  <p id="icon1l"><b>Post Blog</b></p>
{% endblock %}

{% block content %}
          <p id="blog_title"><b>
            {{ blog.title_text }}</b>
          </p>

            <p id="blgr_name">
              {{ blog.name_text }}
            </p>
            <p id="blog_post">
              Blog Post:
            </p>
            <p id="blog_date">{{blog.pub_date}}</p>
            <p id="blog_text">
              {{ blog.blog_text }}
            </p>

            <!-- Delete Post Button -->
            <p id="del">Delete Post</p>
            <form method="post">
              {% csrf_token %}
              <input type="submit" name="action" value="Bye Bye" id="delete"></input>
            </form>


<!-- Loop for inserting Comment info. -->
{% for comment in comment_list %}
  {% if comment %}

          <p id="cmt_name">{{ comment.cmtr_name }}</p>
          <p id="pub_time">{{ comment.pub_time }}</p>
          <p id="cmt_txt">{{ comment.cmt_text }}</p>

  {% endif %}
{% endfor %}


{% endblock %}

{% block footer %}
      <div id="footer">
        <!-- Add Comment Form -->
        <p id="addc">What do you think? Add a comment below.</p>
          <form method="post">
            {% csrf_token %}
            <input type="text" name="cmtr_name" value="Name {{ comment.cmtr_name }}" id="cmtr_name" class="form2"></input>
            <textarea name="cmt_text" value="{{ comment.cmt_text }}" id="cmt_textf" class="form">Comment here.......</textarea>
            <input type="submit" value="Save" id="save" class="form2">
          </form>
      </div>
{% endblock %}

<a href="/" id="Index"><strong>Index</strong></a>
  <br />
<a href="/edit/{{blog.id}}/" id="edit"><strong>Edit Post</strong></a>
