        {% load staticfiles %}
        <!DOCTYPE html>
        <html lang="en">
        <style>

        </style>
        <head>
            <meta charset="UTF-8">
            <title>Blog Entry</title>
            <link rel="stylesheet" type="text/css" href="{% static 'new_app/style.css' %}"/>
        </head>
        <body>
          <div id="header">
            <h1>
            {{ object.title_text }}
          </h1>

            <h3>
              {{ object.name_text }}
            </h3>
          </div>
          <div class="left">
            <a href="/"><strong>Index</strong></a>
            <br />
            <a href="/edit/1/" id="edit"><strong>Edit Post</strong></a>
          </div>
          <div class="content">
            <h4>
              Blog Post:
            </h4>
            <p>
              {{ object.blog_text }}"
            </p>
          </div>
          <div class="right"></div>

          <div id="footer"></div>
        </body>
        </html>
