<style>

body {

    background: white url("/static/new_app/images/stained_glass3.jpg");

}

#register {
  z-index: 0;
  position: absolute;
  height: 400px;
  width: 600px;
  left: 28%;
  top: 24%;
  background-color: black;
  opacity: .9;
  border-radius: 15px;

}

#gate1 {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #14143B;
}

#gate2 {
  z-index: 4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #14143B;
}

#gatel {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 50%;
  background-color: #4D44FA;
}

#gatel2 {
  z-index: 5;
  position: absolute;
  height: 50%;
  left: 0;
  bottom: 0;
  width: 50%;
  background-color: #4D44FA;
}

#gater {
  z-index: 3;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  width: 50%;
  background-color: #ef2ef2;
}

body:hover #gate1 {
  opacity: .8;
  Height: 13%;
  transition-duration: 1.5s;
}

body:hover #gate2 {
  opacity: .8;
  Height: 13%;
  transition-duration: 1.5s;
}

body:hover #gatel {
  opacity: .8;
  width: 9%;
  transition-duration: 1.5s;
}

body:hover #gatel2 {
  opacity: .8;
  width: 9%;
  transition-duration: 1.5s;
}


body:hover #gater {
  opacity: .8;
  width: 9%;
  transition-duration: 1.5s;
}

body:hover #heady {
  opacity: 1;
  transition-duration: 3s;
}

#heady {
  opacity: 0;
  font-family: HelveticaNeue-Light;
  position: relative;
  left: 100px;
  color: #EF2EF2;
  font-size: 36px;
}

#register {
  color: white;
  font-family: HelveticaNeue-Light;
}

#user {
  border-radius: 15px;
  border: none;
  position: absolute;
  left: 34%;
  top: 35%;
  font-family: HelveticaNeue-Light;
  height: 30px;
  font-size: 20px;
}

#pass {
  font-size: 20px;
  height: 30px;
  border-radius: 15px;
  border: none;
  position: absolute;
  left: 34%;
  top: 50%;
  font-family: HelveticaNeue-Light;
}

#r {
  font-family: HelveticaNeue-Light;
  font-weight: bold;
  font-size: 12;
  border-radius: 5px;
  border: none;
  height: 60px;
  width: 60px;
  position: absolute;
  left: 85%;
  bottom: 7%;
  background-color: #4D44FA;
}

#r:hover {
  background-color: #EF2EF2;
}

#h1 {
  color: #4D44FA;
  position: relative;
  left: 5%;
  top: 1%;
}

#u {
  color: #EF2EF2;
  position: absolute;
  left: 19%;
  top: 33%;
}

#p {
  color: #EF2EF2;
  position: absolute;
  left: 19%;
  top: 48%;
}



</style>


<div id="gate1"><p id="heady"><b>the Stained Glass Window</b></p></div>
<div id="gatel"></div>
<div id="gatel2"></div>
<div id="register"><h1 id="h1">Registration</h1>
  <form method="post">
    {% csrf_token %}
    <h4 id="u">Username</h4>
    <h4 id="p">Password</h4>
    <input type="text" id="user" name="username" value="{{ user.username }}"></input>
    <input type="password"  id="pass" name="password" value="{{ user.password }}"></input>
    <input type="submit" id="r" value="Register"></input>
  </form>
</div>
<div id="gater"></div>
<div id="gate2"></div>
