
header{
	top: 0;
	left: 0;
	display: absolute;
	position: fixed;
	width: 100%;
	height: 150px;
	background: #fff	
}


}

main {
	margin-top: 150px;
}


main {
	background: #6B87A0;
	margin-top: 150px;
	margin-left: 200px;
	margin-right: 200px;
	}

aside {
	position: fixed;
	display: absolute;
	right: 0;
	top: 150;
	width: 200px;
	height: 800px;
	background: #3F5E83;

}

nav {
	background: #87A96B;
	display: absolute;
	position: fixed;
	left: 0;
	top: 150;
	height: 800px;
	width: 200px;
}



footer {
	background: #A2B7CF;
	display: absolute;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px; 
}
