<h1>These are the campers {{ registrant.user.first_name }} {{ registrant.user.last_name }} has signed up in the past:</h1>

<ul>
    {% if registrant.camper_set.all < 0 %}
        <p>You have not registered anyone.</p>

    {% else %}

        {% for camper in registrant.camper_set.all %}
            <li>{{ camper.first_name }} {{ camper.last_name }} --
                {% if camper.under_18 == True %}
                    Child
                {%  else%}
                    Adult
                {% endif %}
                --
                {% for a in camper.attendance_set.all %}
                    {% if forloop.last %}
                        {{ a.age_at_start }}
                    {% endif %}
                {% endfor %}
                --
                {% for a in camper.food_preference_set.all %}

                        {{ a.age_at_start }}
                {% endfor %}

            <a href="/edit_camper/{{ camper.id }}">edit</a>



            </li>
        {% endfor %}

    {% endif %}
</ul>

<br><br>
<a href="/">Return to main page</a>