{% load staticfiles %}
{% block title %}
Edit Registrant
{% endblock %}
{% block content %}

<form method="post">
    {% csrf_token %}
    <h1>
        {% if registrant.id %}
        Edit Registrant:
        {% else %}
        New Registrant:
        {% endif %}
    </h1>

    First name: <input value="{{ registrant.first_name  }}" name="first_name" type="text">
    Last name: <input value="{{ registrant.last_name  }}" name="last_name" type="text">
    <br>
    Phone number: <input value="{{ registrant.phone  }}" name="phone" type="text">
    Email address: <input value="{{ registrant.email  }}" name="email" type="text">
    <br>
    <input type="submit" value="SAVE"/>
</form>



{% endblock %}