<h1>Welcome, {{ registrant.user.first_name }} {{ registrant.user.last_name }}!</h1>

{%  if registrants_list %}
    <ul>
    {%  for registrant in registrants_list %}
        <li><a href="/detail/{{ registrant.id }}">{{ registrant }}</a>
            phone: {{ registrant.phone }}
            email: {{ registrant.user.email }}
        <a href="/edit_registrant/{{ registrant.id }}">edit</a>

        </li>

    {%  endfor %}
    </ul>
{% else %}
    <p>No one has registered. </p>
{% endif %}

<a href="new_registrant.html">New Registration</a>