<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Required</title>
</head>
<body>

<h1>Login Required</h1>

{#https://docs.djangoproject.com/en/1.8/howto/static-files/#}
{% load staticfiles %}
<img src='{% static "my_app/no-sign.jpg" %}' alt="nope" height="100px" width="100px"/>

<p>Sorry, you must be logged into your account to do that.</p>
<p><a href="/login/">Log into an existing account</a> or <a href="/register">create a new account.</a></p>
<p>See the <a href="/faq-placeholder">FAQ</a> if you are having trouble. </p>

</body>
</html>