<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout Successful</title>
</head>
<body>

<h1>Logout Successful</h1>

{#https://docs.djangoproject.com/en/1.8/howto/static-files/#}
{% load staticfiles %}
<img src='{% static "my_app/image/check.jpg" %}' alt="yay!" height="100px" width="100px"/>

<p>You have successfully logged out.</p>
<p><a href="/login/">Log into an existing account</a> or <a href="/register">create a new account.</a></p>
<p>See the <a href="/faq-placeholder">FAQ</a> if you are having trouble. </p>

</body>
</html>