body {
	background: #14143B;
}

label {
	color: #FFFFFF;

}

form {
	padding: 20px;
	max-width: 45%;
	border: 3px solid #ADD8E6;
	border-radius: 0px 20px 0px 20px;
	display: block;
	margin: 150px auto;
	
}
