<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/new_app/style2.css"/>
</head>
<body>

  <!-- <div id="post"><p><b>Post Entry Index</b></p></div> -->


    <div id="menu">


        <div id="bro">Menu</div>
        <div id="header"><p id="heady"><b>the Stained Glass Window</b></p>
          <div>
            <!-- <img src="https://www.thetileapp.com/img/blog.png" id="head1"/> -->
          </div>
        </div>

    </div>
    <div class="content">
      {% block content %}
      {% endblock %}
    </div>
    <div id="footer"></div>
</body>
</html>
