/* Stylesheet for "the Stained Glass Window" project */

#top {

    z-index: 1;
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 183px;
    height: 20px;
    width: 900px;
    background-color: cornsilk;
}

#heady {
    position: relative;
    left: 100px;
    font-size: 28px;
    color: #EF2EF2;

}

#post {
    font-family: HelveticaNeue-Light;
    position: relative;
    font-size: 38px;
    color: blue;
    left: 175px;
    top: 115px;
    background-color: #14143B;
    opacity: .8;
    width: 100px;
}

#post p {
    color: cornsilk;
}

#menu {
    font-family: HelveticaNeue-Light;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    background-color: transparent;
    height: 70px;
    z-index: 3;

}

#bro {
    height: 30px;
    width: 140px;
    border: 1px solid cornsilk;
    border-radius: 7px;
    background-color: transparent;
    font-family: HelveticaNeue-Light;
    font-size: 22px;
    color: cornsilk;
    position: relative;
    left: 80%;
    top: 31px;
    z-index: 5;
    text-align: center;
    opacity: .7;

}

#header {
    font-family: HelveticaNeue-Light;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    opacity: .6;
    background-color: #14143B;
    height: 70px;
    z-index: 2;
    overflow: hidden;
    filter: blur(5px);
}

#bro:hover {
  border: 1px solid #4D44FA;

}


#menu:hover #span1 {
  display: none;

}

#menu:hover #span2 {
  display: block;
  color: #F2E63D;
}

#span2 {
  display: none;
}
/*
#menu:hover #header {
    height: 350px;
    opacity: .9;
    background-color: #14143B;
    transition: all .8s ease;

}*/

#header:hover {
  height: 300px;
  opacity: .9;
  background-color: #14143B;
  transition-duration: 1.5s;
}

.content {
    top: 105px;
    bottom: 0;
    position: relative;
    width: 900px;
    height: 1400px;
    left: 165px;
    border-radius: 5px;
    background-color: black;
    border: 8px solid black;
    opacity: .8;
    z-index: 2;
}


body {

    background: white url("images/stained_glass3.jpg");

}

#footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        background-color: #14143B;
        opacity: .7;
        z-index: 3;

}

#footer:hover {
  height: 400px;
  transition-duration: 1.5s;
  opacity: .9;

}
#blog_title {
  font-family: HelveticaNeue-Light;
  font-size: 36px;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #4d44fa;
  top: 50px;
}

#blgr_name {
  font-family: HelveticaNeue-Light;
  margin-left: 15%;
  position: absolute;

  color: lightblue;
  top: 5%;
  left: 100px;

}

#blog_text {
  font-family: HelveticaNeue-Light;
  margin-top: 0px;
  margin-left: 5px;
  margin-right: auto;
  color: lightblue;
}

#blog_date {
  font-family: HelveticaNeue-Light;
  color: #4D44FA;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 0;
}

#blog_post {
  font-family: HelveticaNeue-Light;
  color: #4D44FA;
  margin-bottom: 0;

}

#addc {
  font-family: HelveticaNeue-Light;
  color: #4D44FA;
  position: relative;
  left: 39%;
  top: 2px;
  margin-top: 5px;
  font-size: 13px;

}

#addc:hover {
  color: white;
}

#delete {
  background-color: #4D44FA;
  border-radius: 5px;
  border: none;
  color: #14143B;
  margin-left: 420px;

  display: block;
}
#delete:hover {
  background-color: blue;
  color: lightblue;
}

#del {
  font-family: HelveticaNeue-Light;
  color: #4D44FA;
  margin-bottom: 0;
  width: 100px;
  text-align: center;
  margin-left: 400px;
}

.form2 {
  display: block;
}

#save {
  font-family: HelveticaNeue-Light;
  background-color: #4D44FA;
  border: none;
  color: #14143B;
  border-radius: 5px;
  position: relative;
  left: 28.5%;
  top: 54.5px;
  height: 40px;
  width: 40px;
}

#save:hover {
  background-color: blue;
  color: lightblue;
}

#pub_time {
  font-family: HelveticaNeue-Light;
  color: #4D44FA;
  display: inline-block;
  position: relative;
  margin-bottom: 0;
  top: 80%;

}

#cmt_name {
  font-family: HelveticaNeue-Light;
  color: lightblue;
  margin-bottom: 0;
  display: inline-block;
  top: 20px;
}

#cmt_txt {
  font-family: HelveticaNeue-Light;
  color: #4D44FA;
  margin-top: 0;

  padding-bottom: 10px;
}

#post {
  position: absolute;
  left: 5%;
  top: 15%;
  height: 50px;
}

#pub_time {
  font-family: HelveticaNeue-Light;
  color: #4D44FA;
  font-size: 11px;
  display: inline-block;
  margin-left: 8px;
  margin-bottom: 0;

}

.form  {
  height: 150px;
  width: 450px;
  background-color: lightblue;
  color: #14143B;
  border-radius: 5px;
  position: relative;
  top: 100px;
  left: 32%;
}

#cmtr_name {
  width: 150px;
  background-color: lightblue;
  color: #14143B;
  border-radius: 4px;
  border: none;
  height: 18px;
  left: 32%;
  top: 100px;
  margin-bottom: 5px;
  position: relative;
}

#icon {
  left: 60%;
  top: 150px;
  opacity: .4;
  position: absolute;
  height: 110px;
  width: 130px;
  z-index: 4;

}

#icon:hover {
  opacity: .9;
}

#icon1l {
  left: 61.3%;
  top: 174px;
  position: relative;
  color: lightblue;
  font-family: HelveticaNeue-Light;
  opacity: .8;
}

#gate1 {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #14143B;
}

#gate2 {
  position: absolute;
  z-index: 6;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #14143B;
}
