
#header {
  opacity: .9;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 200px;
  z-index: 1;
  box-sizing: border-box;
  background-color: darkolivegreen;

}

#footer {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  clear: both;
  background-color: darkgreen;
}

.right {
  top: 0;
  position: fixed;
  box-sizing: border-box;
  float: right;
  height: 1000px;
  right: 0;
  width: 200px;
  background-color: darkcyan;
}

.left {
  top: 0;
  position: fixed;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 1000px;
  left: 0;
  width: 200px;
  background-color: darkcyan;
}

.content {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 1000px;
  width: 1072px;
  background-color: cornsilk;
}
div h1 {
  font-family: Courier New;
  position: absolute;
  padding-left: 380px;
  padding-top: 90px;
  color: olive;
}

div h3 {
  font-family: Courier New;
  position: absolute;
  padding-left: 50px;
  padding-top: 150px;
  color: olive;
}

div > h4 {
  font-family: Courier New;
  color: olive;
  padding-left: 210px;
  padding-top: 180px;
}

div p {
  font-family: Courier New;
  color: saddlebrown;
  text-align: left;
  padding-left: 210px;
}

div > a {
  font-size: 20px;
  font-family: Courier New;
  left: 60px;
  top: 210px;
  position: absolute;
  color: saddlebrown;

}

#edit {
  font-family: Courier New;
  left: 60px;
  top: 240px;
  position: absolute;
  color: saddlebrown;

}

a:hover {
  color: red;
}

#edit:hover {
  color: red;
}
